<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <style>
        body {
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color:red;
        }
        a{
            color:rgb(225, 0, 255);
        }
    </style>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}" >Home</a>
        <a href="{% url 'snack_list' %}">Snack List</a>
    </nav>

    
    {% block content %}
    {% endblock %}    
</body>
</html>